html {
  box-sizing: border-box;
}
*,*::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
:root {
  --accent-color: #F7654A;
  --dark-color: #404149;
  --white-color:#fff;
  --gray-color: #999;
  --bg-color: #E5E5E5;
}
.text-h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.text-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.text-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  font-weight: 500;
}
.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 112px;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  width: 60px;
  height: 60px;
}
.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 3px;
}
.burger__line::last-child {
  margin-bottom: 0;
}
.h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-transform: uppercase;
  text-align: center;
  max-width: 734px;
  letter-spacing: 0.02em;
  margin: 0 auto 17px;
  color: var(--white-color);
}
.h4 {
  font-size: 18px;
  font-weight: 400;
  max-width: 734px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--white-color);
}
.about {
  position: relative;
  min-height: 150px;
}
.info {
  position: absolute;
  min-height: 300px;
  width: 100%;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(247, 247, 247);
  max-width: 1110px;
  padding: 57px 130px;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about__grid-item {
  text-align: center;
  width: 190px;
}
.about__h4 {
  font-size: 72px;
  font-weight: 500;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 4px;
}
.about__h5 {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}
.about__p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: var(--gray-color);
}
.project { 
  min-height: 811px;
  margin-bottom: 120px;
}
.project-h2 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}
.project__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project__grid-item {
  max-width: 350px;
}
.project_img {
  margin-bottom: 45px;
}
.project__line {
  height: 6px;
  width: 55px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}
.project-h3 {
  color: var(--dark-color);
  margin-bottom: 13px;
}
.project-p {
  color: var(--gray-color);
  max-width: 330px;
}
.request {
  background-color: var(--accent-color);
  padding: 30px 0 38px;
}
.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request__flex-left {
  text-align: left;
  text-transform: uppercase;
  color: var(--white-color);
}
.request-h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0.02em;
  margin-bottom: 6px;
}
.request-h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.02em;
}
.request_btn {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  padding: 14px 30px;

}
.request-latter {
  margin-right: 15px;
}
.services { 
  padding: 150px 0 150px;
}
.services-h2 {
  text-align: center;
  margin-bottom: 55px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
.services__grid-item {
  background-color: #f7f7f7;
  padding: 59px 0;
  width: 350px;
}
.services-img {
  margin: 0 auto;
  margin-bottom: 23px;
}
.services-h4 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 172px;
  letter-spacing: 0.02em;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}
.question {
  padding: 150px 0 110px;
}
.question-h2 {
  text-align: center;
  margin-bottom: 50px;
}
.question-h3 {
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.question-p {
  color: var(--gray-color);
  margin-bottom: 40px;
  max-width: 730px;
}
.partners {
  background-color: var(--dark-color);
  padding: 100px 0;
}
.partners-h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.partners__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 65px;
  justify-content: center;
  justify-items: center;
}
.reviews {
  padding: 150px 0 145px;
}
.reviews-h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}
.reviews__grid-item {

  max-width: 350px;
}
.reviews__area {
  background-color: #f7f7f7;
  padding: 36px 30px 38px;
  margin-bottom: 24px;
}
.quotes_img {
  margin-bottom: 20px;
}
.reviews-p {
  color: var(--gray-color);
}
.reviews-h4 {
  letter-spacing: 0.02em;
}
.reviews-h4-accent {
  color: var(--accent-color);
  letter-spacing: 0.03em;
}
.contacts {
  padding: 100px 0 150px;
}
.contacts-h2 {
  text-align: center;
  margin-bottom: 60px;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}
.contacts__grid-item {
  max-width: 253px;
  justify-items: center;
  text-align: center;
}
.contacts_img {
  margin: 0 auto 16px;
}
.envelope_img {
  margin: 0 auto 27px;
}
.contacts-h3-gray {
  color: var(--gray-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contacts-h3-black{
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}
.envelope-h3-accent {
  color: var(--accent-color);
}
.footer {
  background-color: var(--dark-color);
  padding: 29px 0;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-p {
  color: #fff;
}
.footer-p-right {
  margin-left: 25px;
  text-align: right;
}
@media screen and (max-width: 1280px) {
  .about__grid{ 
    grid-template-columns: repeat(2, 2fr);
    grid-template-columns: repeat(2, 2fr);
  }
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
  .project {
    padding-top: 210px;
  }
  .request__flex{
    padding: 0 15px;
  }
  .services__grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .services__grid-item {
    width: 100%;
  }
  .services {
    padding-left: 15px;
    padding-right: 15px;
  }
  .portfolio__grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-img {
    width: 100%;
  }
  .question {
    padding: 150px 15px 110px;
  }
  .partners__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .partners {
    background-color: var(--dark-color);
    padding: 100px 15px;
  } 
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .reviews {
    padding: 110px 15px;
  }
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .contacts__grid-item {
    max-width: 100%;
  }
  .footer {
    padding: 29px 15px;
  }
 
}
@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
}
@media screen and (max-width: 768px) {
  .info {
    position: relative;
    padding: 30px 0px;
  }
  .about__grid{ 
    grid-template-columns: repeat(1, 1fr);
  }
  .project__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .text-h2 {
    padding-top: 0px;
  }
  section.project {
    padding: 0;
  }
  .about {
    max-height: 910px;
  }
  .project {
    margin-bottom: 90px;
  }
  .request__flex{
    flex-wrap: wrap;
  }
  .services__grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .services { 
    padding: 100px 15px 100px;
  }
  .partners__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .portfolio__grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 548px) {
  .header {
    margin-bottom: 150px;
  }
  .about__grid{ 
    grid-template-columns: repeat(1, 1fr);
  }
  .partners__grid {
    grid-template-columns: repeat(1, 1fr);
}
}
@media screen and (max-width: 380px) {
  .h1 {
    font-size: 47px;
  }
}

/* Меню */
#slide-out a {
  text-decoration: none;
}
ul#slide-out:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul#slide-out:not(.browser-default) > li {
  list-style-type: none;
}
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
.sidenav .divider {
  margin: 8px 0 0 0;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
  margin: 8px 0 0 0;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}


.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 998;
}

.drag-target.right-aligned {
  right: 0;
}

.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

/* Модальное окно */
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

/* Портфолио */
.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}